<!DOCTYPE html>
<html>
<head>
  <title>Login - Banking Analytics</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <label>Email</label>
    <input id="lemail" type="email" placeholder="you@example.com">
    <label>Password</label>
    <input id="lpass" type="password" placeholder="••••••••">
    <button id="btn-login">Login</button>
    <div id="login-msg" class="error"></div>
  </div>
  <script src="/static/js/config.js"></script>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/auth.js"></script>
</body>
</html>
